RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

# Protect plugin files
<Files "*.php">
    Order allow,deny
    Deny from all
</Files>

# Allow only specific files
<FilesMatch "^(index\.php)$">
    Order allow,deny
    Allow from all
</FilesMatch>